<h2>Private Section</h2>
<ul>
        <li><a href="@Url.Action("Index", "Categories")">Manage Categories</a></li>
        <li><a href="@Url.Action("Index", "Products")">Manage Products</a></li>
        <li><a href="@Url.Action("Index", "Orders")">Manage Orders</a></li>
        <li><a href="@Url.Action("Index", "DeliveryMethods")">Manage Delivery Methods</a></li>

        <h2>Private Section</h2>

        <a href="@Url.Action("Logout", "Home")" class="btn btn-danger">Logout</a>

    <ul>
        <li><a href="@Url.Action("Index", "Categories")">Manage Categories</a></li>
        <li><a href="@Url.Action("Index", "Products")">Manage Products</a></li>
        <li><a href="@Url.Action("Index", "Orders")">Manage Orders</a></li>
        <li><a href="@Url.Action("Index", "DeliveryMethods")">Manage Delivery Methods</a></li>
    </ul>


</ul>
